a{color: red;
    background-color: green;
    text-decoration:none ;
    font-size: 100px;
    padding:5px 10px;
    border: 5px solid red;
   }
   a:hover{
       color:black;
       background-color: white;
   }
   a:active{
       color:yellowgreen;
   }
   a:visited{color:aqua;
       background-color: tomato;
   
   }