img:hover{
    opacity: 0.5;
}
.bg{
    width: 400px;
    height: 200px;
    background: url(image/imege.jpg.jpg) no-repeat center;
 overflow: hidden;}
 #a002{ font-size: 50px;}
.div p{ text-align: center0;
background-color: blue;
padding: 10px;
margin-top:100px;
opacity: 0.5;} 