.p012{ 
    width: 300px;
    height: 200px;
    background-color:green;
}
.p013{
    width: 300px;
    height: 200px;
    background-color: purple;
}
.p014{
    width: 300px;
    height: 200px;
    background-color: black;
}
.p015{
    width: 300px;
    height: 200px;
    background-color: red;
    
}